.e1_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1728px;
	height:1117px;
	position:absolute;
}
.e1_4 { 
	background-color:rgba(2.390618920326233, 132.9600790143013, 191.25, 1);
	width:1728px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_5 {
    color: rgba(61.7578125, 155.93030244112015, 197.62499392032623, 1);
    width: 365px;
    height: 146px;
    position: absolute;
    left: 700px;
    top: 214px;
    font-family: Satisfy;
    text-align: left;
    font-size: 128px;
    letter-spacing: 0;
}
.e1_6 {
    width: 312px;
    height: 229.538849px;
    position: absolute;
    left: 767px;
    top: 201px;
    background-image: url(fotos/ondinha-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.e1_7 { 
	color:rgba(0, 0, 0, 1);
	width:367px;
	height:67px;
	position:absolute;
	left:703px;
	top:543px;
	font-family:Satisfy;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e1_8 { 
	background-color:rgba(2.390618920326233, 132.9600790143013, 191.25, 1);
	width:227px;
	height:50px;
	position:absolute;
	left:753px;
	top:891px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e1_9 {
    color: rgba(255, 255, 255, 1);
    width: 203px;
    height: 38px;
    position: absolute;
    left: 774px;
    top: 891px;
    font-family: Satisfy;
    text-align: left;
    font-size: 40px;
    letter-spacing: 0;
}
.e1_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:444px;
	height:51px;
	position:absolute;
	left:649px;
	top:812px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}
.e1_11 {
    color: rgba(0, 0, 0, 1);
    width: 419px;
    height: 66px;
    position: absolute;
    left: 669px;
    top: 810px;
    font-family: Satisfy;
    text-align: left;
    font-size: 40px;
    letter-spacing: 0;
}
.e1_12 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 561px;
    height: 55px;
    position: absolute;
    left: 590px;
    top: 969px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.e1_13 {
    color: rgba(0, 0, 0, 1);
    width: 488px;
    height: 42px;
    position: absolute;
    left: 602px;
    top: 969px;
    font-family: Satisfy;
    text-align: left;
    font-size: 40px;
    letter-spacing: 0;
}
.e1_14 {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    width: 50px;
    height: 49.599998474121094px;
    position: absolute;
    left: 1084px;
    top: 972px;
    background-image: url(fotos/google_removebg_preview_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.e1_15 { 
	width:426px;
	height:213px;
	position:absolute;
	left:658px;
	top:163px;
}
